{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Meet</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap" rel="stylesheet">
    <link href="{% static '/css/car_meet1.css' %}" rel="stylesheet">
</head>
<body class="body">
    <header class="header">
        <h1>Car Meet</h1>
    </header>
</body>
</html>