{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Wade Chriestenson">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salem Oregon Car Meet</title>
    <link rel="icon" type="image/x-icon"  href="{%  static  '/img/favicon.png' %}'">
    <script src="https://cdn.plot.ly/plotly-1.58.4.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="{% static '/css/car_meet11111.css' %}" rel="stylesheet">
    <link href="{% static '/css/header1.css' %}" rel="stylesheet">

</head>
<body class="body">
    <header class="header">
        <img class="treeIcon" src="{% static '/img/pine.png' %}" alt="tree">
        <h1>Salem Oregon Car Meet</h1>
        <img class="carIcon" src="{% static '/img/location.png' %}" alt="carIcon">
        <a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangomade124x25.gif" border="0" alt="Made with Django." title="Made with Django." style="  position: absolute; right: 0px;" /></a>
    </header>
<div class="mainWrapper">
    <div class="middleWrapper">
        <div class="tabs">
            <a href="aboutus.html">About US</a>
            <a href="setup.html">Setup a Meet</a>
            <a href="disclaimer.html">Disclaimer</a>
        </div>
        <div class="top">
            <h2>Upcoming Meets</h2>
        </div>

        <div class="maps">
        <div class="info">
                {% for info in meet_Info  %}
            <div class="mapinfo">
                <h3>{{ info.locationName }}</h3>
                <h4>Address: {{ info.address }}</h4>
                <h4>Host: {{ info.hostName }}</h4>
                <h4>Date: {{ info.date }}</h4>
                <h4>Start Time: {{ info.startTime }}</h4>
                <h4>End Time: {{ info.endTime }}</h4>
                <h4>Enthusiast Type: {{ info.type }}</h4>
                <h4>Description: {{ info.desc }}</h4>
                    </div>
                                                                     {% endfor %}
                </div>
                <div class="mapWrap">
                        {%  for map in meet_Map %}
                             <div class="map">
                                 <div>{{ map | safe }}</div>
                            </div>
                                                       {%  endfor %}
                </div>
        </div>
    </div>
</div>
</body>
</html>