{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Wade Chriestenson">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salem Oregon Car Meet</title>
    <link rel="icon" type="image/x-icon"  href="{%  static  '/img/favicon.png' %}'">
    <script src="https://cdn.plot.ly/plotly-1.58.4.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="{% static '/css/header.css' %}" rel="stylesheet">

</head>
<body class="body">
    <header class="header">
        <img class="treeIcon" src="{% static '/img/pine.png' %}" alt="tree">
        <h1>Salem Oregon Car Meet</h1>
        <img class="carIcon" src="{% static '/img/location.png' %}" alt="carIcon">
    </header>
<div class="mainWrapper">
    <div class="navBar">
        <h4>Upcoming Meets</h4>
        <ul>
            <li></li>
        </ul>
    </div>
    <div class="middleWrapper">
        <div class="tabs">
            <a href="/">Current Meets</a>
            <a href="setup.html">Setup a Meet</a>
            <a href="aboutus.html">About Us</a>
        </div>
                <div class="top">
            <h2>Disclaimer</h2>
        </div>
    </div>
</div>
</body>
</html>