
.outer_maps{
    display: flex;
flex-direction: column;
    width: 100vw;
}
.inner_maps{
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-left: 20%;
}
.info_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}
.mapWrap{
        display: flex;
    flex-direction: column;
        justify-content: space-between;
    width: 60%;
}
.info {

        height: 100%;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-top: 2px solid black;
    /*width: 66%;*/
}
.map{
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
}

h3{
    text-decoration: underline;
}
